body {
    margin: 20;
    padding: 0;
    background-color: #3f708b;
}

.name {
    width: 100%;
    height: 200px;
    background-color: #b0d3d3;
    transform: skewY(-3deg);
}

.name .content {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
}

.name .img{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 210px;
    height: 210px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;
}

.name .content .p-1 {
    color: #0f0f0f;
    font-family: "baloo tamma 2", sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    transform: skewY(5deg);
    margin-bottom: 0px;
}

.name .content .p-2 {
    color: #181717;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    transform: skewY(5deg);
    margin-bottom: 0px;
}

.info {
    width: 90%;
    height: auto;
    background-color: rgb(202, 107, 107);
    margin:10% auto;
    padding: 20px;
    border-radius: 15px;
}

.info .tituloseccion{
    color: #3f708b;
    font-family: 'baloo tamma 2', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 3px rgb(17, 17, 17) dashed;
}

.info .tituloinfo{
    color: #0f0f0f;
    font-family: 'baloo tamma 2', sans-serif;
    font-weight: bolder;
    font-size: center;
    display: inline;
    margin-right: 6px;
}

.info .infoinfo{
    color: #0f0f0f;
    font-family: 'baloo tamma 2', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}